.well.well-mini
  %ul.nav.nav-list.bs-docs-sidenav
    = active_li "Create",                     adaptive_accounts_path(:create_account)
    = active_li "Add Bank",                   adaptive_accounts_path(:add_bank_account)
    = active_li "Add Payment Card",           adaptive_accounts_path(:add_payment_card)
    = active_li "Get User Agreement",         adaptive_accounts_path(:get_user_agreement)
    = active_li "Set Funding Source Confirm", adaptive_accounts_path(:set_funding_source_confirmed)
    = active_li "Get Verified Status",        adaptive_accounts_path(:get_verified_status)

