= api_form_for @add_payment_card, :url => adaptive_accounts_path(:add_payment_card) do |f|

  .row
    .span5
      %legend Add payment card request
      = f.input :emailAddress
      = f.input :accountId
      = f.input :createAccountKey
      %legend Name on card
      = f.fields_for :nameOnCard do |name|
        = render 'name', :f => name
      %legend Billing address
      = f.fields_for :billingAddress do |address|
        = render 'address', :f => address

    .span5
      %legend Card
      = f.input :cardNumber
      = f.input :cardType
      = f.input :cardOwnerDateOfBirth
      = f.input :cardVerificationNumber
      = f.input :issueNumber
      = f.input :confirmationType
      %legend Expire Date
      = f.fields_for :expirationDate do |edate|
        = edate.input :month, :as => :select, :collection => (1..12).to_a
        = edate.input :year
      %legend Web Options
      = f.fields_for :webOptions do |opt|
        = render 'web_options', :f => opt


  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @add_payment_card_response
  = render 'api_response', :request => @add_payment_card, :response => @add_payment_card_response
