= api_form_for @add_bank_account, :url => adaptive_accounts_path(:add_bank_account) do |f|

  .row
    .span5
      %legend Add bank account request
      = f.input :emailAddress
      = f.input :accountId
      = f.input :createAccountKey
      = f.input :bankCountryCode
      = f.input :bankName
      = f.input :routingNumber
      = f.input :bankAccountType
      = f.input :bankAccountNumber
      = f.input :confirmationType
      = f.input :iban
      = f.input :clabe
      = f.input :bsbNumber
      = f.input :branchLocation
      = f.input :sortCode
    .span5
      %legend -
      = f.input :bankTransitNumber
      = f.input :institutionNumber
      = f.input :branchCode
      = f.input :agencyNumber
      = f.input :bankCode
      = f.input :ribKey
      = f.input :controlDigit
      = f.input :accountHolderDateOfBirth
      %legend Web Options
      = f.fields_for :webOptions do |opt|
        = render 'web_options', :f => opt



  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @add_bank_account_response
  = render 'api_response', :request => @add_bank_account, :response => @add_bank_account_response
  = link_to "Redirect Url", @add_bank_account_response.redirectURL if @add_bank_account_response.redirectURL

