= api_form_for @get_user_agreement, :url => adaptive_accounts_path(:get_user_agreement) do |f|

  .row
    .span5
      %legend get user aggrement request
      = f.input :createAccountKey
      = f.input :countryCode, :as => :string
      = f.input :languageCode

    .span5
      %legend Items


  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @get_user_agreement_response
  = render 'api_response', :request => @get_user_agreement, :response => @get_user_agreement_response
