= api_form_for @set_funding_source_confirmed, :url => adaptive_accounts_path(:set_funding_source_confirmed) do |f|

  .row
    .span5
      %legend Set funding source confirmed request
      = f.input :accountId
      = f.input :emailAddress
      = f.input :fundingSourceKey

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @set_funding_source_confirmed_response
  = render 'api_response', :request => @set_funding_source_confirmed, :response => @set_funding_source_confirmed_response
